<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name= "MainAssignmentTest">
        <classes>
            <class name="User1.CreateUser"/>
            <class name="User1.LoginUser"/>
        </classes>
    </test>
</suite>